Daily-Backup-workflows.json
{"createdAt":"2025-04-17T10:08:13.456Z","updatedAt":"2025-07-22T10:19:44.772Z","id":"nGQkdi2qqFy5PXf6","name":"Daily-Backup-workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,40],"id":"8c31bc4f-f135-46f9-9a4a-d668f9431e69","name":"Loop Over Items"},{"parameters":{"mode":"raw","jsonOutput":"={{ $('Loop Over Items').item.json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,-20],"id":"e78b44e4-b03d-40c8-882f-15e45794fa66","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,40],"id":"48069b35-bbc1-4759-ab0d-89c468494730","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[360,40],"id":"77048c80-a44c-43e2-9309-d6b50506c803","name":"n8n get all workflows","alwaysOutputData":false,"credentials":{"n8nApi":{"id":"6QQljq0lsJalqZx3","name":"n8n account 3"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Edit Fields').item.json.toJsonString() }}","name":"={{ $('Loop Over Items').item.json.name }}.json","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('create backup folder date wise').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1260,60],"id":"15edc7d4-5b22-4a41-9d47-34d1b3a83d1b","name":"Store Workflow Backup to GDrive","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"content":"## Schedule Trigger\nTriggers the backup workflow daily at 11:00 AM automatically.\n\n","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-440,-60],"id":"59eec005-7568-4640-abbb-3913501b9f05","name":"Sticky Note"},{"parameters":{"content":"## n8n get all workflows\nFetches all available workflows from your n8n instance.\n\n\n\n","height":260,"width":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-60],"id":"8771f2e6-5edd-4d52-94d3-55967b9bebdd","name":"Sticky Note1"},{"parameters":{"resource":"folder","name":"=n8n-gluagents-backup-{{ $now }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1cWeXdUIPzdejAlk2AyxZduRR6uO6teM6","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://drive.google.com/drive/folders/1cWeXdUIPzdejAlk2AyxZduRR6uO6teM6"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,40],"id":"2556c306-d908-4fa4-a8c6-ca6f556f4bea","name":"create backup folder date wise","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"content":"## 📁 new-backup-folder-daily\nCreates a new Google Drive folder named with the current date to store that day’s workflow backups.\n\n\n\n\n\n","height":260,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-60],"id":"930b0312-5b9c-408a-b3f7-acd676c12aa9","name":"Sticky Note2"},{"parameters":{"content":"## Loop Over Items\nIterates over each workflow retrieved to process them one-by-one.\n\n","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,-60],"id":"d6c77590-0a02-4a83-b6b4-7bbe3db93880","name":"Sticky Note3"},{"parameters":{"content":"## 💾 Store Workflow Backup to GDrive\nCreates a .json file for each workflow and stores it in the daily Google Drive folder.\n\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,-60],"id":"2d1037e1-fb51-4d98-83a8-7e7777455cbe","name":"Sticky Note4"},{"parameters":{"content":"## 📝Daily Backup All Workflow\nThe “Daily Backup All Workflow” automation runs every day at 11 AM. It fetches all n8n workflows, creates a new Google Drive folder named with the current date, and stores each workflow as a .josn file inside that folder. This ensures you have automatic daily backups of all your workflows in an organized and safe way.","height":140,"width":600,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-240],"id":"b6ed8a9c-fa9b-457a-ad64-83e5933ba016","name":"Sticky Note5"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Store Workflow Backup to GDrive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"create backup folder date wise","type":"main","index":0}]]},"n8n get all workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Store Workflow Backup to GDrive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"create backup folder date wise":{"main":[[{"node":"n8n get all workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-07-21T11:00:40.010-04:00","Readable date":"July 21st 2025, 11:00:40 am","Readable time":"11:00:40 am","Day of week":"Monday","Year":"2025","Month":"July","Day of month":"21","Hour":"11","Minute":"00","Second":"40","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"c3783c34-de0e-495d-bd62-f3164075dba7","triggerCount":1,"tags":[{"createdAt":"2025-04-17T12:31:45.418Z","updatedAt":"2025-04-17T12:31:45.418Z","id":"ZKp3pMT09eXPP0Oq","name":"Backup"}]}